html {
    scroll-behavior: smooth;
  }

.box-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.link::before,
.link::after {
    position: absolute;
    width: 50%;
    height: 2px;
    background: teal;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}


.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}