
@media (max-width: 700px) {
    .navbar{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right:  0;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        transform: translate(100%,0); 
        transition: 1s cubic-bezier(0.82, 0, 0.05, 0.99);
        backdrop-filter: blur(4px);
        z-index: 0;
        
      }
      .navbar li {
          color:#7D8F3A;
          margin-left: 40px;
          padding: 10px 0px;
          height: auto;
          text-transform: uppercase;
          font-size: 42px;

      }
}

.show{
    transform: translate(0,0); 

  
  background: rgba( 255, 255, 255, 0.75 );

}
